<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="4.1.10331.0" />
  <package id="Modernizr" version="1.7" />
  <package id="jQuery.UI.Combined" version="1.8.13" />
  <package id="jQuery.Validation" version="1.19.4" />
  <package id="jQuery.vsdoc" version="1.6" />
  <package id="jQuery" version="1.6.1" />
  <package id="MvcInstaller.MVC3" version="1.0.138.16" />
  <package id="SecurityGuard" version="1.0.29.510" />
</packages>