@model SecurityGuard.ViewModels.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password Success";
}

<h2>Password Reset Success</h2>

<p>Your new password has been emailed to you.</p>

<p>@Html.ActionLink("Login", "Login", "SGAccount")</p>
